
<div class="div-10">
    <h4>Mes rendez-vous</h4>
    <hr><br>
    <table class="table table-hover">
    <thead>
      <tr>
      
        <th scope="col">Nom & Prenom</th>
        <th scope="col">CIN</th>
        <th scope="col">Telephone</th>
        <th scope="col">Date</th>
        <th scope="col">De</th>
        <th scope="col">A</th>

        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of Appointments">
        <td>{{p.client?.firstName}} {{p.client?.lastName}}</td>
        <td>{{p.client?.idcard}}</td>
        <td>{{p.client?.phoneNumber}}</td>
        <td>{{p.date}}</td>
        <td>{{p.startTime}}</td>
        <td>{{p.endTime}}</td>

        
      </tr>
     
    </tbody>
  </table>
</div>