
<div class="col-12 " id="id0">
    <button class="btn btn-primary" routerLink='ajoutercompte'>Ajouter un compte</button> 
    <button  class="btn btn-danger" id="id1" (click)=" verifierSupprimer($event) " data-dismiss="modal" >Resilier</button>
  </div>
  <br>
  <br>
  <br>

<div class="m-5">
    <table class="table table-hover">
    <thead>
      <tr >
        <th scope="col">Numero de compte</th>
        <th scope="col">Solde</th>
        <th scope="col">Titre</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr class="test1" *ngFor='let b of Comptes' id="{{b.id}}">
        <th scope="row">{{b.number}}</th>
        <td>{{b.balance}}</td>
        <td>{{b.title}}</td>
       
        <td>
         
          
          <button type="button" class="btn btn-warning" (click)="verifier($event)" data-dismiss="modal" >Supprimer</button>
        </td>


      </tr>
    </tbody>
  </table>
</div>
<!-- Modal 1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="font-size: 1.1rem;"   >
        Vous-êtes sûr de supprimer ce client : {{clientSupprimer?.firstName?.toUpperCase()}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="supprimerClient() " data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="font-size: 1.1rem;"   >
        Vous-êtes sûr de supprimer ce compte : {{clientSupprimer?.firstName?.toUpperCase()}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="supprimerCompte() " data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>