@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body, html{
    width: 100%;
}

body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #14A78C;
    --first-color-light: #e9e9e9;
    --white-color: #73eec9;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}