.form-group input[type='text'],
.form-group input[type='number']{
    border-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    color: black;
    border-bottom-color: black;
    border-radius: 0px;
    border-width: 1px;
    background-color: transparent;
}

.form-group input[type='text']::placeholder,
.form-group input[type='number']::placeholder{
    color: gray;
}

.form-group input[type='text']:focus,
.form-group input[type='number']:focus{
    border-bottom-color: rgb(60, 141, 165);
}

/* Chrome, Safari, Edge, Opera */
.form-group input[type='number']::-webkit-outer-spin-button,
.form-group input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-group input[type='number'] {
  -moz-appearance: textfield;
}

.form-group{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.form-group input[type='submit']:hover{
    background-color:var(--white-color); 
}

.form-group input[type='submit']{
    margin-top: .8rem;
    border: none;
    outline: none;
    background-color: var(--first-color);
    color: white;
    font-size: 1.1rem;
    padding: .5rem 0;
    width: 35%;
    border-radius: .3rem;
}

.error{
    visibility: hidden;
    width: 100%;
    font-size: .9em;
    font-weight: 500;
    color: #c9515d;
}

.error.set{
    visibility: visible;
}